* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  max-width: 100%;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  border: 1px solid lightgray;
  margin: 10px;
  min-width: 320px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  padding: 30px 42px;
}

.logo {
  margin-top: 30px;
  margin-bottom: 42px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.login-form .input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5px 0;
  padding: 3px 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: rgb(243, 243, 243);
}

.login-form .input:focus-within {
  border-color: gray;
}

.login-form .input label {
  border: 0;
  font-size: 12px;
  color: gray;
  background-color: rgba(0, 0, 0, 0);
}

.login-form input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  border: 0;
  border-radius: 3px;
  background-color: rgb(0, 149, 246);
  color: #fff;
  cursor: pointer
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: 500;
  font-size: 14px;
  margin: 10px
}

.or::before,
.or::after {
  content: '';
  width: 90px;
  margin: 0 20px;
  height: 1px;
  background-color: lightgray;
}

.login a {
  color: rgb(56, 81, 133);
}

.fb-login {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: stretch;
  margin: 20px;
}

.fb-login::before {
  content: "";
  background-image: url("./images/fb-icon.png");
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.forgot-password {
  font-size: 14px;
  font-weight: 500;
}

.sign-up {
  width: inherit;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.sign-up a {
  color: rgb(0, 149, 246);
  font-weight: 600;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-the-app p {
  margin: 20px;
}

.download {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.app-button img {
  margin: 4px;
  max-width: 150px;
}

footer {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

footer * {
  color: gray
}

footer nav {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer nav a {
  margin: 4px;
  color: gray;
}

footer .info select {
  border: 0;
  background-color: rgba(0, 0, 0, 0)
}